@page "/"

<PageTitle>Home</PageTitle>

<div class="homepage-container">
    <div class="icon-wrapper">
        <img src="cash-coin (1).svg" alt="Financial Boss" class="cash-icon" />
    </div>
    <h1 class="homepage-title">From Broke to Financial Boss -<br />Budget Smart, Invest Easy!</h1>
    <NavLink href="/budget-coach" class="nav-link btn-getstarted" active-class="active">Get Started</NavLink>
    <div class="fact-box">
        <p> Did you know? <strong>Only 17% of college students</strong> actively budget their money, and even fewer invest early! Start managing your finances today.</p>
    </div>
</div>
